@model ShakuntEnterprises.Models.MainModuleBar

@{
    ViewData["Title"] = "Create";
      Layout = "~/Views/Shared/_Layout_Views.cshtml";
}

<h4>MainModuleBar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ModuleId" class="control-label"></label>
                 <select asp-for="ModuleId" asp-items="@(new SelectList(ViewBag.Modules,"ModuleId","ModuleName"))" class="dropdown-item" style="border:1px solid #b8bee6;">
                  <option>select-module</option>
                 </select>
                <span asp-validation-for="ModuleId" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="ModuleName" class="control-label"></label>
                 <input asp-for="ModuleName" class="form-control" readonly/>
                <span asp-validation-for="ModuleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                @* <select asp-for="UserId" asp-items="@(new SelectList(ViewBag.Users,"user_id","user_id"))" class="dropdown-item" style="border:1px solid #b8bee6;">
                    <option>select-user</option>
                </select>*@
                <input asp-for="UserId" list="UserIdList" class="form-control">
                <datalist id="UserIdList">
                    @{
                        foreach (var item in ViewBag.Users)
                        {
                            <option value="@item.UserId">@item.UserId</option>
                        }
                    }
                </datalist>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRight" class="control-label"></label>
                <input asp-for="UserRight" class="form-control" value="RWD" readonly />
                <span asp-validation-for="UserRight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" type="datetime" readonly value=@ViewBag.CDT />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" readonly="readonly" value=@Context.Session.GetString("lid") />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <input asp-for="IsActive" class="form-control" value="Y" readonly />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
     <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">
    $("#ModuleId").on('change', function() {
        $("#ModuleName").val($("#ModuleId  option:selected").text());
    });
  
</script>

}
