
@{
    ViewData["Title"] = "Tally Data";
    Layout = "~/Views/Shared/_Layout_Views.cshtml";
}
 
<div>
    <h1 class="display-4">Tally Data Testing</h1>
    <h3>Stock items from tally</h3>
    <table width="100%">
        @foreach (var item in ViewBag.stockItems)
        {
            <tr>
                <td>
                    @item
                </td>

            </tr>
        }
    </table>
</div>
<div>
    @ViewBag.Error;
</div>
