@model ShakuntEnterprises.ViewModels.BatchMasterModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout_Views.cshtml";
}
<hr />
<h3>Edit BatchMaster</h3>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <h4>Welding Material</h4>
            <div class="row">
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="BarchNo" class="control-label"></label>
                    <input asp-for="BarchNo" class="form-control" />
                    <span asp-validation-for="BarchNo" class="text-danger"></span>
                </div>
            </div>
            
             <h4>Chemical Composition (Wire)</h4>
            <div class="row">
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="ElementResultC" class="control-label"></label>
                    <input asp-for="ElementResultC" class="form-control" />
                    <span asp-validation-for="ElementResultC" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="ElementResultSi" class="control-label"></label>
                    <input asp-for="ElementResultSi" class="form-control" />
                    <span asp-validation-for="ElementResultSi" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="ElementResultMn" class="control-label"></label>
                    <input asp-for="ElementResultMn" class="form-control" />
                    <span asp-validation-for="ElementResultMn" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="ElementResultP" class="control-label"></label>
                    <input asp-for="ElementResultP" class="form-control" />
                    <span asp-validation-for="ElementResultP" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="ElementResultS" class="control-label"></label>
                    <input asp-for="ElementResultS" class="form-control" />
                    <span asp-validation-for="ElementResultS" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="ElementResultNi" class="control-label"></label>
                    <input asp-for="ElementResultNi" class="form-control" />
                    <span asp-validation-for="ElementResultNi" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="ElementResultCr" class="control-label"></label>
                    <input asp-for="ElementResultCr" class="form-control" />
                    <span asp-validation-for="ElementResultCr" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="ElementResultMo" class="control-label"></label>
                    <input asp-for="ElementResultMo" class="form-control" />
                    <span asp-validation-for="ElementResultMo" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="ElementResultCu" class="control-label"></label>
                    <input asp-for="ElementResultCu" class="form-control" />
                    <span asp-validation-for="ElementResultCu" class="text-danger"></span>
                </div>
            </div>
          
            <h4>Mechanical Test (All Weld Metal)</h4>
            <div class="row">
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="TestResultUts" class="control-label"></label>
                    <input asp-for="TestResultUts" class="form-control" />
                    <span asp-validation-for="TestResultUts" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="TestResultYs" class="control-label"></label>
                    <input asp-for="TestResultYs" class="form-control" />
                    <span asp-validation-for="TestResultYs" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="TestResultElongation" class="control-label"></label>
                    <input asp-for="TestResultElongation" class="form-control" />
                    <span asp-validation-for="TestResultElongation" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="TestTemp" class="control-label"></label>
                    <input asp-for="TestTemp" class="form-control" />
                    <span asp-validation-for="TestTemp" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="TestImpectValue" class="control-label"></label>
                    <input asp-for="TestImpectValue" class="form-control" />
                    <span asp-validation-for="TestImpectValue" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="TestCondition" class="control-label"></label>
                    <input asp-for="TestCondition" class="form-control" />
                    <span asp-validation-for="TestCondition" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="OtherTestResultRadioSpecs" class="control-label"></label>
                    <input asp-for="OtherTestResultRadioSpecs" class="form-control" />
                    <span asp-validation-for="OtherTestResultRadioSpecs" class="text-danger"></span>
                </div>
                 <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="OtherTestResultFaceBendSpecs" class="control-label"></label>
                    <input asp-for="OtherTestResultFaceBendSpecs" class="form-control" />
                    <span asp-validation-for="OtherTestResultFaceBendSpecs" class="text-danger"></span>
                </div>
                 <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="OtherTestResultFilletSpecs" class="control-label"></label>
                    <input asp-for="OtherTestResultFilletSpecs" class="form-control" />
                    <span asp-validation-for="OtherTestResultFilletSpecs" class="text-danger"></span>
                </div>



            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" type="datetime" readonly value=@ViewBag.CDT />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" readonly="readonly" value=@Context.Session.GetString("lid") />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-info" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts
    {
    <script type="text/javascript">

        $(document).ready(function () {
            $("#BarchNo").change(function () {
                var batchNo = $("#BarchNo").val();
                var d = new Date();
                //var strDate = d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + d.getDate();
                var strDate = d.getDate() + '' + (d.getMonth() + 1) + '' + d.getFullYear();
                debugger;
                $("#BarchNo").val(strDate + batchNo);
            })
            //alert("Hiii");
        });
    </script>
}