@model ShakuntEnterprises.Models.TestCertificateRecord

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_Views.cshtml";
}

<h4>Details Test Certificate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CertificateNo" class="control-label"></label>
                <input asp-for="CertificateNo" class="form-control" />
                <span asp-validation-for="CertificateNo" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>
