@model ShakuntEnterprises.ViewModels.TestCertificateRecordModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_Views.cshtml";
}
 
<hr />
<h3>Add System Test Certificate</h3>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                    <div class="form-group" style="width:20%;display: inline-block;">
                        <label asp-for="CertificateNo" class="control-label"></label>
                        <input asp-for="CertificateNo" class="form-control" value=@ViewBag.CERTINO   readonly/>
                        <span asp-validation-for="CertificateNo" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="width:35%;display: inline-block;">
                        <label asp-for="CustomerName" class="control-label"></label>
                        <input asp-for="CustomerName" class="form-control" />
                        <span asp-validation-for="CustomerName" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="width:20%;display: inline-block;">
                        <label asp-for="IssueDate" class="control-label"></label>
                        <input asp-for="IssueDate" class="form-control" type="date" />
                        <span asp-validation-for="IssueDate" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="width:10%;display: inline-block;">
                        <label asp-for="Quanity" class="control-label"></label>
                        <input asp-for="Quanity" class="form-control" />
                        <span asp-validation-for="Quanity" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="width:10%;display: inline-block;">
                        <label asp-for="InvoiceNo" class="control-label"></label>
                        <input asp-for="InvoiceNo" class="form-control" />
                        <span asp-validation-for="InvoiceNo" class="text-danger"></span>
                    </div>
            </div>
            <h4>Welding Material</h4>
            <div class="row">
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="TradeDesignation" class="control-label"></label>
                    <select asp-for="TradeDesignation" asp-items="@(new SelectList(ViewBag.TRADE,"TradeDesignation","TradeDesignation"))" class="dropdown-item" style="border:1px solid #b8bee6;">
                        <option value="">Select-TradeDesignation</option>
                    </select>
                    <span asp-validation-for="TradeDesignation" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:15%;display: inline-block;">
                    <label asp-for="Size" class="control-label"></label>
                   <select asp-for="Size" asp-items="@(new SelectList(ViewBag.SIZE,"Size","Size"))" class="dropdown-item" style="border:1px solid #b8bee6;">
                        <option value="">Select-Size</option>
                    </select>
                    <span asp-validation-for="Size" class="text-danger"></span>
                </div>
                  <div class="form-group" style="width:15%;display: inline-block;">
                    <label asp-for="BatchDate" class="control-label"></label>
                    <input asp-for="BatchDate" class="form-control" />
                    <span asp-validation-for="BatchDate" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:10%;display: inline-block;">
                    <label asp-for="BarchNo" class="control-label"></label>
                    <input asp-for="BarchNo" class="form-control" />
                    <button id="addBatch" type="button" class="btn btn-primary" style="float:right;margin-top:3px;">Add</button>
                    <span asp-validation-for="BarchNo" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="ManufecturingDate" class="control-label"></label>
                    <input asp-for="ManufecturingDate" class="form-control" type="date" />
                    <span asp-validation-for="ManufecturingDate" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="Specification" class="control-label"></label>
                    <input asp-for="Specification" class="form-control" />
                    <span asp-validation-for="Specification" class="text-danger"></span>
                </div>
            
            </div>
            <h4>Welding Condition</h4>
            <div class="row">
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="WeldingProcess" class="control-label"></label>
                    <input asp-for="WeldingProcess" class="form-control" />
                    <span asp-validation-for="WeldingProcess" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="ShieldingGas" class="control-label"></label>
                    <input asp-for="ShieldingGas" class="form-control" />
                    <span asp-validation-for="ShieldingGas" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="PreHeatInerpassTemp" class="control-label"></label>
                    <input asp-for="PreHeatInerpassTemp" class="form-control" />
                    <span asp-validation-for="PreHeatInerpassTemp" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="Type" class="control-label"></label>
                    <input asp-for="Type" class="form-control" />
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="Apms" class="control-label"></label>
                    <input asp-for="Apms" class="form-control" />
                    <span asp-validation-for="Apms" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="FlowRate" class="control-label"></label>
                    <input asp-for="FlowRate" class="form-control" />
                    <span asp-validation-for="FlowRate" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="CurrentPolarity" class="control-label"></label>
                    <input asp-for="CurrentPolarity" class="form-control" />
                    <span asp-validation-for="CurrentPolarity" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="Volts" class="control-label"></label>
                    <input asp-for="Volts" class="form-control" />
                    <span asp-validation-for="Volts" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="TravelSpeed" class="control-label"></label>
                    <input asp-for="TravelSpeed" class="form-control" />
                    <span asp-validation-for="TravelSpeed" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="BaseMetal" class="control-label"></label>
                    <input asp-for="BaseMetal" class="form-control" />
                    <span asp-validation-for="BaseMetal" class="text-danger"></span>
                </div>

            </div>
            <h4>Chemical Composition (Wire)</h4>
            <div class="row">
                <div class="form-group" style="width:10%;display: inline-block;">
                    <label asp-for="ElementMinC" class="control-label"></label>
                    <input asp-for="ElementMinC" class="form-control" />
                    <span asp-validation-for="ElementMinC" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:10%;display: inline-block;">
                    <label asp-for="ElementMinSi" class="control-label"></label>
                    <input asp-for="ElementMinSi" class="form-control" />
                    <span asp-validation-for="ElementMinSi" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:10%;display: inline-block;">
                    <label asp-for="ElementMinMn" class="control-label"></label>
                    <input asp-for="ElementMinMn" class="form-control" />
                    <span asp-validation-for="ElementMinMn" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:10%;display: inline-block;">
                    <label asp-for="ElementMinP" class="control-label"></label>
                    <input asp-for="ElementMinP" class="form-control" />
                    <span asp-validation-for="ElementMinP" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:10%;display: inline-block;">
                    <label asp-for="ElementMinS" class="control-label"></label>
                    <input asp-for="ElementMinS" class="form-control" />
                    <span asp-validation-for="ElementMinS" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:10%;display: inline-block;">
                    <label asp-for="ElementMinNi" class="control-label"></label>
                    <input asp-for="ElementMinNi" class="form-control" />
                    <span asp-validation-for="ElementMinNi" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:10%;display: inline-block;">
                    <label asp-for="ElementMinCr" class="control-label"></label>
                    <input asp-for="ElementMinCr" class="form-control" />
                    <span asp-validation-for="ElementMinCr" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:10%;display: inline-block;">
                    <label asp-for="ElementMinMo" class="control-label"></label>
                    <input asp-for="ElementMinMo" class="form-control" />
                    <span asp-validation-for="ElementMinMo" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:10%;display: inline-block;">
                    <label asp-for="ElementMinCu" class="control-label"></label>
                    <input asp-for="ElementMinCu" class="form-control" />
                    <span asp-validation-for="ElementMinCu" class="text-danger"></span>
                </div>
            </div>
              <div class="row">
                <div class="form-group" style="width:10%;display: inline-block;">
                    <label asp-for="ElementMaxC" class="control-label"></label>
                    <input asp-for="ElementMaxC" class="form-control" />
                    <span asp-validation-for="ElementMaxC" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:10%;display: inline-block;">
                    <label asp-for="ElementMaxSi" class="control-label"></label>
                    <input asp-for="ElementMaxSi" class="form-control" />
                    <span asp-validation-for="ElementMaxSi" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:10%;display: inline-block;">
                    <label asp-for="ElementMaxMn" class="control-label"></label>
                    <input asp-for="ElementMaxMn" class="form-control" />
                    <span asp-validation-for="ElementMaxMn" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:10%;display: inline-block;">
                    <label asp-for="ElementMaxP" class="control-label"></label>
                    <input asp-for="ElementMaxP" class="form-control" />
                    <span asp-validation-for="ElementMaxP" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:10%;display: inline-block;">
                    <label asp-for="ElementMaxS" class="control-label"></label>
                    <input asp-for="ElementMaxS" class="form-control" />
                    <span asp-validation-for="ElementMaxS" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:10%;display: inline-block;">
                    <label asp-for="ElementMaxNi" class="control-label"></label>
                    <input asp-for="ElementMaxNi" class="form-control" />
                    <span asp-validation-for="ElementMaxNi" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:10%;display: inline-block;">
                    <label asp-for="ElementMaxCr" class="control-label"></label>
                    <input asp-for="ElementMaxCr" class="form-control" />
                    <span asp-validation-for="ElementMaxCr" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:10%;display: inline-block;">
                    <label asp-for="ElementMaxMo" class="control-label"></label>
                    <input asp-for="ElementMaxMo" class="form-control" />
                    <span asp-validation-for="ElementMaxMo" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:10%;display: inline-block;">
                    <label asp-for="ElementMaxCu" class="control-label"></label>
                    <input asp-for="ElementMaxCu" class="form-control" />
                    <span asp-validation-for="ElementMaxCu" class="text-danger"></span>
                </div>
            </div>
            <div class="row">

                <hr />
                <table id="BatchDetailsTable" class="display expandable-table dataTable no-footer">
                    <thead style="border:dotted">
                        <tr>
                            <th width="10%">ElementResultC</th>
                            <th width="10%">ElementResultSi</th>
                            <th width="10%">ElementResultMn</th>
                            <th width="10%">ElementResultP</th>
                            <th width="10%">ElementResultS</th>
                            <th width="10%">ElementResultNi</th>
                            <th width="10%">ElementResultCr</th>
                            <th width="10%">ElementResultMo</th>
                            <th width="10%">ElementResultCu</th>
                            <th width="10%">ElementResultNi</th>
                            <th width="10%">Delete</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyid">
                    </tbody>
                </table>
            </div>
          
            <h4>Mechanical Test (All Weld Metal)</h4>
            <div class="row">
                <div class="form-group" style="width:10%;display: inline-block;">
                    <label asp-for="TestMinUts" class="control-label"></label>
                    <input asp-for="TestMinUts" class="form-control" />
                    <span asp-validation-for="TestMinUts" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:10%;display: inline-block;">
                    <label asp-for="TestMinYs" class="control-label"></label>
                    <input asp-for="TestMinYs" class="form-control" />
                    <span asp-validation-for="TestMinYs" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:10%;display: inline-block;">
                    <label asp-for="TestMinElongation" class="control-label"></label>
                    <input asp-for="TestMinElongation" class="form-control" />
                    <span asp-validation-for="TestMinElongation" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:10%;display: inline-block;">
                    <label asp-for="TestMaxUts" class="control-label"></label>
                    <input asp-for="TestMaxUts" class="form-control" />
                    <span asp-validation-for="TestMaxUts" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:10%;display: inline-block;">
                    <label asp-for="TestMaxYs" class="control-label"></label>
                    <input asp-for="TestMaxYs" class="form-control" />
                    <span asp-validation-for="TestMaxYs" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:10%;display: inline-block;">
                    <label asp-for="TestMaxElongation" class="control-label"></label>
                    <input asp-for="TestMaxElongation" class="form-control" />
                    <span asp-validation-for="TestMaxElongation" class="text-danger"></span>
                </div>

                 

                <div class="form-group" style="width:10%;display: inline-block;">
                    <label asp-for="TestTemp" class="control-label"></label>
                    <input asp-for="TestTemp" class="form-control" />
                    <span asp-validation-for="TestTemp" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:10%;display: inline-block;">
                    <label asp-for="TestImpectValue" class="control-label"></label>
                    <input asp-for="TestImpectValue" class="form-control" />
                    <span asp-validation-for="TestImpectValue" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:10%;display: inline-block;">
                    <label asp-for="TestCondition" class="control-label"></label>
                    <input asp-for="TestCondition" class="form-control" />
                    <span asp-validation-for="TestCondition" class="text-danger"></span>
                </div>
            </div>
             <h4>Other Properties - Wire</h4>
            <div class="row">
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="SizeStandardValue" class="control-label"></label>
                    <input asp-for="SizeStandardValue" class="form-control" />
                    <span asp-validation-for="SizeStandardValue" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="SizeActualValue" class="control-label"></label>
                    <input asp-for="SizeActualValue" class="form-control" />
                    <span asp-validation-for="SizeActualValue" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="CoatingStandardValue" class="control-label"></label>
                    <input asp-for="CoatingStandardValue" class="form-control" />
                    <span asp-validation-for="CoatingStandardValue" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="CoatingActualValue" class="control-label"></label>
                    <input asp-for="CoatingActualValue" class="form-control" />
                    <span asp-validation-for="CoatingActualValue" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="UtswireStandardValue" class="control-label"></label>
                    <input asp-for="UtswireStandardValue" class="form-control" />
                    <span asp-validation-for="UtswireStandardValue" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="UtswireActualValue" class="control-label"></label>
                    <input asp-for="UtswireActualValue" class="form-control" />
                    <span asp-validation-for="UtswireActualValue" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="CastDiaStandardValue" class="control-label"></label>
                    <input asp-for="CastDiaStandardValue" class="form-control" />
                    <span asp-validation-for="CastDiaStandardValue" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="CastDiaActualValue" class="control-label"></label>
                    <input asp-for="CastDiaActualValue" class="form-control" />
                    <span asp-validation-for="CastDiaActualValue" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="HelixStandardValue" class="control-label"></label>
                    <input asp-for="HelixStandardValue" class="form-control" />
                    <span asp-validation-for="HelixStandardValue" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:20%;display: inline-block;">
                    <label asp-for="HelixActualValue" class="control-label"></label>
                    <input asp-for="HelixActualValue" class="form-control" />
                    <span asp-validation-for="HelixActualValue" class="text-danger"></span>
                </div>
            </div>
            
              <h4>Other Test (Weld Metal)</h4>
            <div class="row">
                <div class="form-group" style="width:30%;display: inline-block;">
                    <label asp-for="OtherTestRadioSpecs" class="control-label"></label>
                    <input asp-for="OtherTestRadioSpecs" class="form-control" />
                    <span asp-validation-for="OtherTestRadioSpecs" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:30%;display: inline-block;">
                    <label asp-for="OtherTestFaceBendSpecs" class="control-label"></label>
                    <input asp-for="OtherTestFaceBendSpecs" class="form-control" />
                    <span asp-validation-for="OtherTestFaceBendSpecs" class="text-danger"></span>
                </div>
                <div class="form-group" style="width:30%;display: inline-block;">
                    <label asp-for="OtherTestFilledSpecs" class="control-label"></label>
                    <input asp-for="OtherTestFilledSpecs" class="form-control" />
                    <span asp-validation-for="OtherTestFilledSpecs" class="text-danger"></span>
                </div>
                
            </div>
            <div class="row">
               
            </div>
            <div>
                <div class="form-group">
                    <label asp-for="Remarks" class="control-label"></label>
                    <input asp-for="Remarks" class="form-control" />
                    <span asp-validation-for="Remarks" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group" style="display:none;">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" type="datetime" readonly value=@ViewBag.CDT />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" readonly="readonly" value=@Context.Session.GetString("lid") />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input id="submit" type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-info" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            var counter = 0;
            $("#addBatch").click(function () {
                alert("batch");
                //var BarchNo = $("#BarchNo").val();
                //$.getJSON("/SystemTestCertificateRecord/GetBatchMasterResult",
                //    { BarchNo: BarchNo }, function (data) {
                //        $("#ElementResultC").val(data[0].elementResultC);
                //        $("#ElementResultSi").val(data[0].elementResultSi);
                //        $("#ElementResultMn").val(data[0].elementResultMn);
                //        $("#ElementResultP").val(data[0].elementResultP);
                //        $("#ElementResultS").val(data[0].elementResultS);
                //        $("#ElementResultNi").val(data[0].elementResultNi);
                //        $("#ElementResultCr").val(data[0].elementResultCr);
                //        $("#ElementResultMo").val(data[0].elementResultMo);
                //        $("#ElementResultCu").val(data[0].elementResultCu);
                //        $("#TestResultUts").val(data[0].testResultUts);
                //        $("#TestResultYs").val(data[0].testResultYs);
                //        $("#TestResultElongation").val(data[0].testResultElongation);
                //        $("#OtherTestResultRadioSpecs").val(data[0].otherTestResultRadioSpecs);
                //        $("#OtherTestResultFaceBendSpecs").val(data[0].otherTestResultFaceBendSpecs);
                //        $("#OtherTestResultFilledSpecs").val(data[0].otherTestResultFilletSpecs);

                //    $('<tr id="tablerow' + counter + '"><td>' +
                //    '<input type="text" class="form-control" id="elementResultC[' + counter + ']" value="' + data[0].elementResultC + '" required="required"  readonly=readonly  style = "background-color:#ffeb504d;" />' +
                //    '</td>' +
                //    '<td>' +
                //    '<input type="text" class="form-control" id="elementResultSi[' + counter + ']" value="' + data[0].elementResultSi + '" required="required"  readonly=readonly   style = "background-color:#ffeb504d"/>' +
                //    '</td>' +
                //    '<td>' +
                //    '<input type="text" class="form-control" id="elementResultMn[' + counter + ']" value="' + data[0].elementResultMn + '" required="required"  readonly=readonly  style = "background-color:#ffeb504d"/>' +
                //    '</td>' +
                //    '<td>' +
                //            '<input type="text" class="form-control" id="elementResultP[' + counter + ']" value="' + data[0].elementResultP + '" required="required"  readonly=readonly  style = "background-color:#ffeb504d"/>' +
                //    '</td>' +

                //    '<td>' +
                //    '<button type="button" id="DeleteRow' + counter + '" class="btn btn-danger" onclick="removeTr(' + counter + ');">Delete</button>' +
                //    '</td>' +
                //    '</tr>').appendTo('#BatchDetailsTable');

                //counter++;


                //return false;
                //})

               
            })



            $("#TradeDesignation").change(function () {

                var TradeDesignation = $("#TradeDesignation  option:selected").val();
                $.getJSON("/SystemTestCertificateRecord/GetTradeDesignationDataMaster",
                    { TradeDesignation: TradeDesignation }, function (data) {
                        debugger
                        $("#WeldingProcess").val(data[0].weldingProcess);
                        $("#ShieldingGas").val(data[0].shieldingGas);
                        $("#PreHeatInerpassTemp").val(data[0].preHeatInerpassTemp);
                        $("#Specification").val(data[0].specification);
                        $("#Type").val(data[0].type);
                        $("#FlowRate").val(data[0].flowRate);
                        $("#CurrentPolarity").val(data[0].currentPolarity);
                        $("#BaseMetal").val(data[0].baseMetal);
                        $("#ElementMinC").val(data[0].elementMinC);
                        $("#ElementMinSi").val(data[0].elementMinSi);
                        $("#ElementMinMn").val(data[0].elementMinMn);
                        $("#ElementMinP").val(data[0].elementMinP);
                        $("#ElementMinS").val(data[0].elementMinS);
                        $("#ElementMinNi").val(data[0].elementMinNi);
                        $("#ElementMinCr").val(data[0].elementMinCr);
                        $("#ElementMinMo").val(data[0].elementMinMo);
                        $("#ElementMinCu").val(data[0].elementMinCu);
                        $("#ElementMaxC").val(data[0].elementMaxC);
                        $("#ElementMaxSi").val(data[0].elementMaxSi);
                        $("#ElementMaxMn").val(data[0].elementMaxMn);
                        $("#ElementMaxP").val(data[0].elementMaxP);
                        $("#ElementMaxS").val(data[0].elementMaxS);
                        $("#ElementMaxNi").val(data[0].elementMaxNi);
                        $("#ElementMaxCr").val(data[0].elementMaxCr);
                        $("#ElementMaxMo").val(data[0].elementMaxMo);
                        $("#ElementMaxCu").val(data[0].elementMaxCu);
                        $("#TestMinUts").val(data[0].testMinUts);
                        $("#TestMinYs").val(data[0].testMinYs);
                        $("#TestMinElongation").val(data[0].testMinElongation);
                        $("#TestMaxUts").val(data[0].testMaxUts);
                        $("#TestMaxYs").val(data[0].testMaxYs);
                        $("#TestMaxElongation").val(data[0].testMaxElongation);
                        $("#TestTemp").val(data[0].testTemp);
                        $("#TestImpectValue").val(data[0].testImpectValue);
                        $("#TestCondition").val(data[0].testCondition);
                        $("#OtherTestRadioSpecs").val(data[0].otherTestRadioSpecs);
                        $("#OtherTestFaceBendSpecs").val(data[0].otherTestFaceBendSpecs);
                        $("#OtherTestFilledSpecs").val(data[0].otherTestFilledSpecs);

                    })
            })

            $("#Size").change(function () {

                var Size = $("#Size  option:selected").val();
                $.getJSON("/SystemTestCertificateRecord/GetSizeDataMaster",
                    { Size: Size }, function (data) {
                        debugger
                        $("#Size").val(data[0].size);
                        $("#Apms").val(data[0].apms);
                        $("#Volts").val(data[0].volts);
                        $("#TravelSpeed").val(data[0].travelSpeed);
                        $("#SizeStandardValue").val(data[0].sizeStandardValue);
                        $("#SizeActualValue").val(data[0].sizeActualValue);
                        $("#CoatingStandardValue").val(data[0].coatingStandardValue);
                        $("#CoatingActualValue").val(data[0].coatingActualValue);
                        $("#UtswireStandardValue").val(data[0].utswireStandardValue);
                        $("#UtswireActualValue").val(data[0].utswireActualValue);
                        $("#CastDiaStandardValue").val(data[0].castDiaStandardValue);
                        $("#CastDiaActualValue").val(data[0].castDiaActualValue);
                        $("#HelixStandardValue").val(data[0].helixStandardValue);
                        $("#HelixActualValue").val(data[0].helixActualValue);

                    })
            })

            $("#BarchNo").change(function () {

                var BarchNo = $("#BarchNo").val();
                $.getJSON("/SystemTestCertificateRecord/GetBatchMasterResult",
                    { BarchNo: BarchNo }, function (data) {
                        $("#ElementResultC").val(data[0].elementResultC);
                        $("#ElementResultSi").val(data[0].elementResultSi);
                        $("#ElementResultMn").val(data[0].elementResultMn);
                        $("#ElementResultP").val(data[0].elementResultP);
                        $("#ElementResultS").val(data[0].elementResultS);
                        $("#ElementResultNi").val(data[0].elementResultNi);
                        $("#ElementResultCr").val(data[0].elementResultCr);
                        $("#ElementResultMo").val(data[0].elementResultMo);
                        $("#ElementResultCu").val(data[0].elementResultCu);
                        $("#TestResultUts").val(data[0].testResultUts);
                        $("#TestResultYs").val(data[0].testResultYs);
                        $("#TestResultElongation").val(data[0].testResultElongation);
                        $("#OtherTestResultRadioSpecs").val(data[0].otherTestResultRadioSpecs);
                        $("#OtherTestResultFaceBendSpecs").val(data[0].otherTestResultFaceBendSpecs);
                        $("#OtherTestResultFilledSpecs").val(data[0].otherTestResultFilledSpecs);

                        if ($("#ElementResultC").val() > 0) {
                            if ($("#ElementMinC").val() > $("#ElementResultC").val() || $("#ElementMaxC").val() < $("#ElementResultC").val()) {
                                $("#submit").hide();
                                alert("Element Result C% is not under result conditons..!!");
                                return;
                            }
                        }
                        if ($("#ElementResultSi").val() > 0) {
                            if ($("#ElementMinSi").val() > $("#ElementResultSi").val() || $("#ElementMaxSi").val() < $("#ElementResultSi").val()) {
                                $("#submit").hide();
                                alert("Element Result Si% is not under result conditons..!!");
                                return;
                            }
                        }
                        if ($("#ElementResultMn").val() > 0) {
                            if ($("#ElementMinMn").val() > $("#ElementResultMn").val() || $("#ElementMaxMn").val() < $("#ElementResultMn").val()) {
                                $("#submit").hide();
                                alert("Element  Result Mn% is not under result conditons..!!");
                                return;
                            }
                        }
                        if ($("#ElementResultP").val() > 0) {
                            if ($("#ElementMinP").val() > $("#ElementResultP").val() || $("#ElementMaxP").val() < $("#ElementResultP").val()) {
                                $("#submit").hide();
                                alert("Element Result P% is not under result conditons..!!");
                                return;
                            }
                        }
                        if ($("#ElementResultS").val() > 0) {
                            if ($("#ElementMinS").val() > $("#ElementResultS").val() || $("#ElementMaxS").val() < $("#ElementResultS").val()) {
                                $("#submit").hide();
                                alert("Element Result S% is not under result conditons..!!");
                                return;
                            }
                        }
                        if ($("#ElementResultNi").val() > 0) {
                            if ($("#ElementMinNi").val() > $("#ElementResultNi").val() || $("#ElementMaxNi").val() < $("#ElementResultNi").val()) {
                                $("#submit").hide();
                                alert("Element Result Ni% is not under result conditons..!!");
                                return;
                            }
                        }
                        if ($("#ElementResultCr").val() > 0) {
                            if ($("#ElementMinCr").val() > $("#ElementResultCr").val() || $("#ElementMaxCr").val() < $("#ElementResultCr").val()) {
                                $("#submit").hide();
                                alert("Element Result Cr% is not under result conditons..!!");
                                return;
                            }
                        }

                        if ($("#ElementResultMo").val() > 0) {
                            if ($("#ElementMinMo").val() > $("#ElementResultMo").val() || $("#ElementMaxMo").val() < $("#ElementResultMo").val()) {
                                $("#submit").hide();
                                alert("Element Result Mo% is not under result conditons..!!");
                                return;
                            }
                        }
                        if ($("#ElementResultCu").val() > 0) {
                            if ($("#ElementMinCu").val() > $("#ElementResultCu").val() || $("#ElementMaxCu").val() < $("#ElementResultCu").val()) {
                                $("#submit").hide();
                                alert("Element Result Cu% is not under result conditons..!!");
                                return;
                            }
                        }
                        if ($("#TestResultUts").val() > 0) {
                            if ($("#TestMinUts").val() > $("#TestResultUts").val() || $("#TestMaxUts").val() < $("#TestResultUts").val()) {
                                $("#submit").hide();
                                alert("Test Result Uts is not under result conditons..!!");
                                return;
                            }
                        }

                        if ($("#TestResultYs").val() > 0) {
                            if ($("#TestMinYs").val() > $("#TestResultYs").val() || $("#TestMaxYs").val() < $("#TestResultYs").val()) {
                                $("#submit").hide();
                                alert("Test Result Ys is not under result conditons..!!");
                                return;
                            }
                        }
                        if ($("#TestResultElongation").val() > 0) {
                            if ($("#TestMinElongation").val() > $("#TestResultElongation").val() || $("#TestMaxElongation").val() < $("#TestResultElongation").val()) {
                                $("#submit").hide();
                                alert("Test Result Elongation is not under result conditons..!!");
                                return;
                            }
                        }

                        //if ($("#OtherTestMinRadioSpecs").val() > $("#OtherTestResultRadioSpecs").val() || $("#OtherTestMaxRadioSpecs").val() < $("#OtherTestResultRadioSpecs").val()) {
                        //    $("#submit").hide();
                        //    alert("OtherTest Result RadioSpecs is not under result conditons..!!");
                        //    return;
                        //}
                        //if ($("#OtherTestMinFaceBendSpecs").val() > $("#OtherTestResultFaceBendSpecs").val() || $("#OtherTestMaxFaceBendSpecs").val() < $("#OtherTestResultFaceBendSpecs").val()) {
                        //    $("#submit").hide();
                        //    alert("OtherTest Result FaceBendSpecs is not under result conditons..!!");
                        //    return;
                        //}
                        //if ($("#OtherTestMintFilletSpecs").val() > $("#OtherTestResultFilledSpecs").val() || $("#OtherTestMaxFilletSpecs").val() < $("#OtherTestResultFilledSpecs").val()) {
                        //    $("#submit").hide();
                        //    alert("OtherTest Result FilletSpecs is not under result conditons..!!");
                        //    return;
                        //}
                    })
            })



        })
  
        function removeTr(index) {
            if (confirm('Are you sure to delete this row ?')) {
                if (counter => 1) {
                    $('#tablerow' + index).remove();
                    counter--;
                }
                return false;
            }
    </script>
}